.swagger-ui .topbar {
    background-color: #000; /* Fondo negro como en Initial D */
  }
  
  .swagger-ui .topbar-wrapper img {
    content: url('https://upload.wikimedia.org/wikipedia/en/7/79/Initial_D_Logo.png');
    width: 200px;
    height: auto;
  }
  